<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8">
        <!--
        Customize this policy to fit your own app's needs. For more guidance, please refer to the docs:
            https://cordova.apache.org/docs/en/latest/
        Some notes:
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' pokeapi.co data: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' raw.githubusercontent.com data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="css/index.css">
        <script src="js/vue.js"></script>
        <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
        <title>Projet Cordova + Pokeapi</title>
    </head>
    <body>
        <!---<div class="app" id="app">
            <h1>Apache Cordova {{ message }}</h1>
        </div>--->
        <div class="pokedex" id="pokedex">
            <div class="pokemon-list">
                <h1>Liste des Pokémon</h1>
                <ul>
                    <li v-for="pokemon in pokemonList" :key="pokemon.name" @click="selectPokemon(pokemon)">
                        <img :src="pokemon.sprite" />
                        <span>{{ pokemon.name }}</span>
                    </li>
                </ul>
                <div class="pagination">
                    <button @click="getPreviousPokemon" :disabled="offset === 0">Précédent</button>
                    <button @click="getNextPokemon">Suivant</button>
                </div>
            </div>
            <div class="pokemon-details">
                <div v-if="selectedPokemon">
                    <h2>{{ selectedPokemon.name }}</h2>
                    <img id="vibrating-element" :src="selectedPokemon.spriteArtwork" @click="playSound"/>
                    <p>{{ selectedPokemon.abilities.join(', ') }}</p>
                    <div class="stats">
                        <h3>Stats:</h3>
                        <pre>{{ selectedPokemon.stats }}</pre>
                    </div>
                </div>
            </div>
        </div>
        <script src="cordova.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
